body {
    background-color: black;
}

.canvas-container {
    margin: auto;
    text-align: center;
}

canvas {
    position: absolute;
    margin: auto;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 20px;
    border-left: 20px;
    border-right: 20px;
    border-radius: 8px;
    border-style: ridge;
    border-color: silver;
    background-image: url("./background.png");
}