body {
    background-color: black;
}

.canvas-container {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

canvas {
    margin: auto;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 20px;
    border-left: 20px;
    border-right: 20px;
    border-radius: 8px;
    border-style: ridge;
    border-color: silver;
    background-image: url("./background.png");
}

.score-box{
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
    border-style: ridge;
    border: 20px;
    border-color: silver;
    font-size: 20;
}