body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Iomanoid";
    src: url("./Fonts/iomanoid\ front.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.canvas-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

canvas {
    border-radius: 8px;
    border-top: 20px;
    border-left: 20px;
    border-right: 20px;
    border-style: ridge;
    border-color: silver;
    background-image: url("./background.png");
}

.score-box {
    height: 100px;
    width: 150px;

    border-radius: 8px;
    border: 20px;
    border-style: ridge;
    border-color: silver;
    
    color: white;

    font-size: 30px;
    font-family: "Iomanoid";

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    

    background-image: url("./background.png");
}

.score-label {
    color: yellowgreen;
}